body {
  background-color: rgb(206, 151, 151);
}

.home {
  padding: 20px;
  text-align: center;
  color: black;
}

.container {
  background-color: rgb(122, 255, 211);
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 20px 35px;
  padding-top: 20px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #444;
}

nav a:hover::before {
  width: 100%;
  transition: all ease-in-out 150ms;
}

.login {
  margin: 20px 50px;
}

.register {
  margin: 20px 20px;
}

.first-name,
.last-name {
  color: rgb(63, 63, 141);
  align-items: middle;
}

.fields-for-register {
  color: blanchedalmond;
  vertical-align: middle;
}

.filling {
  color: violet;
  width: 150px;
}

.header {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}
